---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import BaseHead from "@/components/BaseHead.astro";
import "@fontsource-variable/outfit";
import "@/tailwind.css";
import { TailwindSizeIndicator } from "./TailwindSizeIndicator";

interface Props {
  title?: string;
  description?: string;
  url?: string;
  image?: string;
  type?: string;
}

const {
  title = "Gavin Pereira",
  description = "Gavin Pereira is a Graphic Designer & Frontend Developer from Goa.",
  url = "https://gavinpereira.in",
  image = "https://gavinpereira.in/img/preview.jpg",
  type = "website",
} = Astro.props as Props;

const formattedTitle =
  title === "Gavin Pereira"
    ? title
    : title
      ? `${title} &bull; Gavin Pereira`
      : "Gavin Pereira";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={formattedTitle}
      description={description}
      url={url}
      image={image}
      type={type}
    />
  </head>
  <body class="min-h-screen flex flex-col font-outfit font-light">
    <Header />

    <main class="flex-1">
      <slot> Content goes here </slot>
    </main>

    <Footer />
    {import.meta.env.DEV && <TailwindSizeIndicator client:idle />}
  </body>
</html>
